.container {
	max-width: 1580px;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.main {
	flex: 1 1 auto;
	position: relative;
	z-index: 1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.title {
	font-weight: 700;
	font-size: 46px;
	line-height: 1.26;
	@media (max-width: 1440px) {
		@include adaptiv(font-size, 46, 23, 1800, 320);
	}
}
.subtitle {
	font-size: 20px;
	line-height: 1.5;
	@media (max-width: 1200px) {
		@include adaptiv(font-size, 20, 18, 1200, 320);
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 15px;
	min-height: 60px;
	@media (max-width: 992px) {
		min-height: 50px;
	}
	@media (max-width: 768px) {
		min-height: 45px;
	}

	@media (max-width: 420px) {
		min-height: 40px;
	}
}

.control-fourth {
	display: flex;
	align-items: center;
	// .control-fourth__prev
	&__prev {
		background: transparent;
		height: 19px;
	}
	// .control-fourth__next
	&__next {
		background: transparent;
		height: 19px;
		transform: rotate(180deg);
	}

	&__next,
	&__prev {
		path {
			transition: fill 0.3s;
		}

		&:hover {
			path {
				fill: #fcb813;
			}
		}
	}
}

.to-privacy {
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		color: #fcb813;
	}
}

.to-modal {
	cursor: pointer;
}

.decor {
	position: absolute;
	top: 0;
	height: 20000px;
	width: 1px;
	background-color: #e5e5e5;
	&--1 {
		left: calc(50% + 145px);
	}
	&--2 {
		left: calc(50% - 230px);
	}
	&--3 {
		left: calc(50% - 606px);
	}
	&--4 {
		left: calc(50% + 520px);
	}
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes round {
	0% {
		width: 100%;
		height: 100%;
		opacity: 0.4;
	}
	100% {
		width: 125%;
		height: 125%;
		opacity: 1;
	}
}

.hover-btn {
	transform: perspective(1px) translateZ(0);
	position: relative;
	transition-property: color;
	transition-duration: 0.3s;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fcb813;
		transform: scaleX(0);
		transform-origin: 50%;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}
	&:hover {
		color: #000000;
		&::before {
			transform: scaleX(1);
		}
	}
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7 .ajax-loader {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.alertify-notifier {
	z-index: 99997;
}

.wpcf7-not-valid {
	border-color: red !important;
}

.wpcf7-submit {
	cursor: pointer;
}

.fancybox-fx-slide-in-out.fancybox-slide--previous {
	transform: translateX(-100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
	transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
	transform: translateX(0);
}
