.container {
	max-width: 1580px;
	padding: 0 60px;
	margin: 0 auto;
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.title {
	font-weight: 700;
	font-size: 46px;
	line-height: 1.26;
}
.subtitle {
	font-size: 20px;
	line-height: 1.5;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	min-height: 60px;
}

.control-fourth {
	display: flex;
	align-items: center;
	// .control-fourth__prev
	&__prev {
		background: transparent;
		height: 19px;
	}
	// .control-fourth__next
	&__next {
		background: transparent;
		height: 19px;
		transform: rotate(180deg);
	}
}

.flip {
	&:hover {
		.flip__body {
			transform: rotateY(-180deg);
		}
	}
	// .flip__body
	&__body {
		position: relative;
		width: 150px;
		height: 150px;
		transition: 0.8s;
		transform-style: preserve-3d;
	}
	background-color: #fff;
	// .flip__front
	&__front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		transform: rotateY(0deg);
		background-color: aqua;
		// backface-visibility: hidden;
	}
	// .flip__back
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotateY(-180deg);
		background-color: rebeccapurple;
	}
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
