.answer {
	// .answer__container
	&__container {
		padding-bottom: 149px;
		@media (max-width: 1200px) {
			@include adaptiv(padding-bottom, 149, 90, 1200, 320);
		}
	}
	// .answer__title
	&__title {
		margin-bottom: 20px;
		color: #000;
	}
	// .answer__subtitle
	&__subtitle {
		margin-bottom: 95px;
		color: #5f5f5f;
		@media (max-width: 1200px) {
			@include adaptiv(margin-bottom, 95, 25, 1200, 320);
		}
	}
	// .answer__list
	&__list {
		max-width: 1252px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
	}
	// .answer__item
	&__item {
	}
}

.item-answer {
	padding-left: 76px;
	padding-right: 32px;
	border-bottom: 1px solid #e5e5e5;

	&:last-child {
		border-bottom: none;
	}

	@media (max-width: 1200px) {
		@include adaptiv(padding-left, 76, 15, 1200, 320);
		@include adaptiv(padding-right, 32, 15, 1200, 320);
	}
	// .item-third__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 21px;
		padding-bottom: 21px;
		cursor: pointer;
		@media (max-width: 1200px) {
			@include adaptiv(padding-top, 21, 8, 1200, 320);
			@include adaptiv(padding-bottom, 21, 8, 1200, 320);
		}
		&--active {
			.item-answer__btn::before {
				display: none;
			}
			.item-answer__btn::after {
				background-color: #fcb813;
			}
		}
	}
	// .item-third__title
	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.33;
		color: #000;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 30, 17, 1200, 320);
		}
	}
	// .item-third__btn
	&__btn {
		margin-left: 21px;
		width: 14px;
		height: 14px;
		flex: 0 0 14px;
		position: relative;
		background-color: transparent;
		&::after {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 100%;
			height: 2px;
			background: #000;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 6px;
			width: 2px;
			height: 100%;
			background: #000;
		}
	}
	// .item-third__bot
	&__bot {
		padding-top: 28px;
		padding-bottom: 28px;
		display: none;
		@media (max-width: 1200px) {
			@include adaptiv(padding-top, 28, 5, 1200, 320);
			@include adaptiv(padding-bottom, 21, 10, 1200, 320);
		}
	}
	// .item-third__text
	&__text {
		color: #000;
		font-size: 20px;
		line-height: 1.5;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 20, 15, 1200, 320);
		}
	}
}
