.doing {
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 70%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@media (max-width: 1440px) {
			width: 75%;
		}
		@media (max-width: 992px) {
			width: 100%;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
		}
	}
	// .doing__container
	&__container {
		position: relative;
		padding-top: 110px;
		padding-bottom: 118px;
		@media (max-width: 1200px) {
			@include adaptiv(padding-top, 110, 50, 1200, 320);
			@include adaptiv(padding-bottom, 118, 50, 1200, 320);
		}
	}
	// .doing__title
	&__title {
		margin-bottom: 20px;
		color: #fff;
		max-width: 70%;
		@media (max-width: 992px) {
			max-width: none;
		}
	}
	// .doing__subtitle
	&__subtitle {
		margin-bottom: 101px;
		color: #fff;
		max-width: 70%;
		@media (max-width: 1200px) {
			@include adaptiv(margin-bottom, 101, 30, 1200, 320);
		}
		@media (max-width: 992px) {
			max-width: none;
		}
	}
	// .doing__slider
	&__slider {
		overflow: hidden;
		.swiper-slide {
			overflow: hidden;
		}
	}

	// .doing__item
	&__item {
		min-height: 460px;
		position: relative;
		transition: 0.8s;
		transform-style: preserve-3d;
		@media (max-width: 1400px) and (min-width: 1150px) {
			min-height: 400px;
		}
		@media (max-width: 935px) {
			min-height: 300px;
		}

		&--active {
			transform: rotateY(-180deg);
		}
	}
	// .doing__front
	&__front {
	}
	// .doing__back
	&__back {
	}
	// .doing__control
	&__control {
	}
	// .doing__prev
	&__prev {
		path {
			fill: #000;
			@media (max-width: 992px) {
				fill: #fff;
			}
		}
	}
	// .doing__next
	&__next {
		path {
			fill: #000;
			@media (max-width: 992px) {
				fill: #fff;
			}
		}
	}
	// .doing__next
	&__control-wrapper {
		margin-top: 62px;
		padding-right: 177px;
		display: flex;
		justify-content: flex-end;
		@media (max-width: 1440px) {
			padding-right: 9%;
		}
		@media (max-width: 1200px) {
			@include adaptiv(margin-top, 62, 20, 1200, 320);
		}
	}
}

.control-fourth {
	// .control-fourth__prev
	&__prev {
		margin-right: 32px;
	}
	// .control-fourth__next
	&__next {
	}
}

.front-doing {
	padding: 73px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: 2;
	transform: rotateY(0deg);
	background: #222226;
	backface-visibility: hidden;
	@media (max-width: 1400px) and (min-width: 1150px) {
		padding: 40px;
	}
	@media (max-width: 935px) and (min-width: 486px) {
		@include adaptiv(padding-left, 50, 15, 935, 486);
		@include adaptiv(padding-right, 50, 15, 935, 486);
		padding-bottom: 20px;
		padding-top: 30px;
	}
	@media (max-width: 485px) {
		@include adaptiv(padding-left, 50, 30, 485, 320);
		@include adaptiv(padding-right, 50, 30, 485, 320);
	}
	// .front-doing__img
	&__img {
		margin-bottom: 94px;
		max-width: 91px;
		max-height: 91px;
		@media (max-width: 1400px) and (min-width: 1150px) {
			margin-bottom: 70px;
			max-width: 75px;
			max-height: 75px;
		}
		@media (max-width: 935px) and (min-width: 486px) {
			@include adaptiv(margin-bottom, 85, 65, 935, 486);
			@include adaptiv(max-width, 85, 55, 935, 486);
			@include adaptiv(max-height, 85, 55, 935, 486);
		}
		@media (max-width: 485px) {
			@include adaptiv(margin-bottom, 85, 55, 485, 320);
			@include adaptiv(max-width, 85, 65, 485, 320);
			@include adaptiv(max-height, 85, 65, 485, 320);
		}
	}

	// .front-doing__title
	&__title {
		margin-bottom: 29px;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.28;
		text-align: center;
		color: #ffffff;
		@media (max-width: 1400px) and (min-width: 1150px) {
			@include adaptiv(font-size, 36, 27, 1400, 1150);
		}
		@media (max-width: 935px) and (min-width: 486px) {
			@include adaptiv(font-size, 36, 21, 935, 486);
		}
		@media (max-width: 485px) {
			@include adaptiv(font-size, 36, 24, 485, 320);
		}
	}

	// .front-doing__btn
	&__btn {
		display: flex;
		align-items: center;
		padding-right: 22px;
		font-size: 20px;
		line-height: 1.5;
		color: #a4a4a4;
		background-color: transparent;
		position: relative;

		&:hover {
			color: #fcb813;
			span:before,
			span:after {
				background: #fcb813;
			}
		}

		@media (max-width: 1400px) and (min-width: 1150px) {
			font-size: 17px;
		}
		@media (max-width: 935px) and (min-width: 486px) {
			@include adaptiv(font-size, 18, 14, 935, 486);
		}
		@media (max-width: 485px) {
			@include adaptiv(font-size, 18, 15, 485, 320);
		}

		span {
			margin-left: 5px;
			width: 14px;
			height: 14px;
			position: relative;
			flex: 0 0 14px;
			&::after {
				content: "";
				position: absolute;
				top: 6px;
				left: 0;
				width: 100%;
				height: 2px;
				background: #a4a4a4;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 6px;
				width: 2px;
				height: 100%;
				background: #a4a4a4;
			}
		}
	}
}
.back-doing {
	padding: 64px 63px 20px 63px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	transform: rotateY(-180deg);
	background-color: #fff;
	pointer-events: none;
	@media (max-width: 1400px) and (min-width: 1150px) {
		padding: 40px 40px 20px 40px;
	}
	@media (max-width: 935px) and (min-width: 486px) {
		padding: 30px 20px 20px 30px;
	}
	@media (max-width: 576px) and (min-width: 486px) {
		padding: 20px 10px 20px 10px !important;
	}
	@media (max-width: 485px) {
		@include adaptiv(padding-left, 63, 15, 485, 320);
		@include adaptiv(padding-right, 63, 15, 485, 320);
		@include adaptiv(padding-top, 64, 25, 485, 320);
	}

	// .back-doing__title
	&__title {
		margin-bottom: 37px;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.28;
		color: #000000;
		@media (max-width: 1400px) and (min-width: 1150px) {
			font-size: 27px;
			margin-bottom: 30px;
		}
		@media (max-width: 935px) and (min-width: 486px) {
			@include adaptiv(font-size, 34, 17, 935, 486);
			margin-bottom: 20px;
		}
		@media (max-width: 485px) {
			@include adaptiv(font-size, 34, 19, 485, 320);
			@include adaptiv(margin-bottom, 37, 20, 485, 320);
		}
	}
	// .back-doing__list
	&__list {
		font-size: 16px;
		line-height: 1.25;
		color: #000000;
		@media (max-width: 1400px) and (min-width: 1150px) {
			font-size: 15px;
		}
		@media (max-width: 935px) and (min-width: 486px) {
			@include adaptiv(font-size, 16, 12, 935, 486);
		}
		@media (max-width: 485px) {
			@include adaptiv(font-size, 16, 13, 485, 320);
		}
	}
	// .back-doing__item
	&__item {
		padding-left: 12px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0.5em;
			left: 0;
			width: 2px;
			height: 2px;
			background: #000;
			border-radius: 100%;
			overflow: hidden;
		}
		&:not(:last-child) {
			margin-bottom: 12px;
			@media (max-width: 935px) and (min-width: 486px) {
				@include adaptiv(margin-bottom, 12, 5, 935, 486);
			}
			@media (max-width: 485px) and (min-width: 320px) {
				@include adaptiv(margin-bottom, 12, 5, 485, 320);
			}
		}
	}
}
