.fourth {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30%;
		height: 1600px;
		background: url("../img/hero-bg.jpg") center / cover no-repeat;
		@media (max-width: 992px) {
			display: none;
		}
	}
	// .fourth__container
	&__container {
		position: relative;
		z-index: 1;
	}
	// .fourth__title
	&__title {
		max-width: 1078px;
		margin-bottom: 35px;
		color: #ffffff;
		@media (max-width: 1580px) {
			max-width: 80%;
		}
		@media (max-width: 992px) {
			color: #000;
		}
	}
	// .fourth__subtitle
	&__subtitle {
		max-width: 1078px;
		margin-bottom: 114px;
		color: #fcb813;
		@media (max-width: 1580px) {
			max-width: 80%;
		}
		@media (max-width: 992px) {
			color: #5f5f5f;
		}
	}
	// .fourth__slider
	&__slider {
		margin-bottom: 60px;
		margin-right: -500px;
		overflow: hidden;

		@media (max-width: 1580px) {
			margin-right: 0;
		}

		.swiper-slide {
			cursor: pointer;
			&:hover {
				.fourth-item__hover {
					transform: translateY(-100%);
					top: -46px;
				}
			}
		}
	}
	// .fourth__bot
	&__bot {
		display: flex;
		align-items: center;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}
	// .fourth__about
	&__about {
	}
	// .fourth__control
	&__control {
		@media (max-width: 992px) {
			order: 0;
			margin-left: auto;
			margin-bottom: 25px;
		}
	}
	&__prev {
		margin-right: 35px;
		path {
			fill: #ffffff;
			@media (max-width: 992px) {
				fill: #000;
			}
		}
	}
	&__next {
		path {
			fill: #fcb813;
		}
	}
}
.fourth-item {
	padding: 479px 0px 40px 43px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (max-width: 1417px) and (min-width: 1201px) {
		padding: 320px 0px 30px 30px;
	}

	@media (max-width: 940px) and (min-width: 769px) {
		padding: 320px 0px 30px 30px;
	}
	// .fourth-item__descr
	&__descr {
	}
	// .fourth-item__hover
	&__hover {
		position: absolute;
		top: 0;
		left: 45px;
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
		color: #ffffff;
		transition: 0.4s;
	}
	// .fourth-item__arrow
	&__arrow {
		margin-left: 25px;
		width: 67px;
		height: 67px;
		flex: 0 0 67px;
		border-radius: 100%;
		background: #fcb813;
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 12px;
			transform: translate(-50%, -50%);
			background: url("../img/arrowsvg.svg") 0 0 / contain no-repeat;
		}
	}
}
.descr-fourth {
	background-color: #fff;
	position: relative;
	&__container {
		background-color: #fff;
		padding: 8px 10px 8px 49px;
		position: relative;
		z-index: 1;
		@media (max-width: 1417px) and (min-width: 1201px) {
			padding: 8px 10px 8px 30px;
		}
		@media (max-width: 940px) and (min-width: 769px) {
			padding: 8px 10px 8px 30px;
		}
	}
	// .descr-fourth__title
	&__title {
		margin-bottom: 23px;
		font-weight: 700;
		font-size: 30px;
		line-height: 1.33;
		color: #000000;
		@media (max-width: 1417px) and (min-width: 1201px) {
			@include adaptiv(font-size, 30, 22, 1417, 1201);
		}
		@media (max-width: 940px) and (min-width: 769px) {
			@include adaptiv(font-size, 30, 22, 940, 769);
		}
	}
	// .descr-fourth__flex
	&__flex {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 -10px;
	}
	// .descr-fourth__column
	&__column {
		padding: 0 10px;
		display: grid;
		grid-template-columns: 26px auto;
		grid-row-gap: 5px;
		grid-column-gap: 14px;
		&:nth-child(2) {
			margin: 0 auto;
		}
	}
	// .descr-fourth__img
	&__img {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		grid-row-start: span 2;
	}
	// .descr-fourth__key
	&__key {
		font-size: 10px;
		color: #5f5f5f;
	}
	// .descr-fourth__value
	&__value {
		font-size: 16px;
		color: #5f5f5f;
		@media (max-width: 1417px) and (min-width: 1201px) {
			@include adaptiv(font-size, 16, 14, 1417, 1201);
		}
		@media (max-width: 940px) and (min-width: 769px) {
			@include adaptiv(font-size, 16, 14, 940, 769);
		}
	}
}
.about-fourth {
	display: flex;
	align-items: center;
	margin-right: 174px;
	max-width: 1032px;
	flex-grow: 1;
	@media (max-width: 1440px) {
		margin-right: 90px;
	}
	@media (max-width: 992px) {
		order: 1;
		margin-right: 0;
	}
	// .about-fourth__text
	&__text {
		margin-right: 54px;
		font-size: 20px;
		line-height: lh(23, 20);
		color: #000000;
	}
	// .about-fourth__btn
	&__btn {
		flex: 0 0 307px;
		background: #fcb813;
		color: #fff;
	}
}
