.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 29px;
		padding-bottom: 29px;
		@media (max-width: 576px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		@media (max-width: 374px) {
			flex-direction: column;
		}
	}
	// .header__logo
	&__logo {
		margin-right: 30px;
		img {
			max-width: 308px;
			max-height: 63px;
			@media (max-width: 768px) {
				@include adaptiv(max-width, 250, 150, 768, 320);
			}
		}
		@media (max-width: 374px) {
			margin-bottom: 10px;
			margin-right: 0;
		}
	}
	// .header__tel-block
	&__tel-block {
		display: flex;
		align-items: center;
		@media (max-width: 768px) {
			align-items: flex-end;
			flex-direction: column;
		}
		@media (max-width: 374px) {
			align-items: center;
		}
	}
	// .header__tel
	&__tel {
		margin-right: 43px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		color: #ffffff;
		@media (max-width: 768px) {
			margin-right: 0;
			@include adaptiv(font-size, 18, 14, 768, 320);
		}
	}
	// .header__text
	&__text {
		font-size: 14px;
		line-height: 1.5;
		color: #fcb813;
		@media (max-width: 768px) {
			@include adaptiv(font-size, 14, 11, 768, 320);
		}
	}
	// .header__burger
	&__burger {
	}
}
.container {
}
.logo {
}
.burger {
	display: none;
}
