.info {
	// .info__container
	&__container {
		padding-top: 137px;
		padding-bottom: 186px;
	}
	// .info__grid
	&__grid {
		display: grid;
		max-width: 1131px;
		margin-left: 80px;
		grid-template-columns: repeat(2, 380px);
		grid-column-gap: 370px;
		grid-row-gap: 90px;
		justify-content: center;
		@media (max-width: 1440px) {
			grid-column-gap: 200px;
		}
		@media (max-width: 1200px) {
			margin-left: 0;
			grid-column-gap: 110px;
		}
		@media (max-width: 992px) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiv(grid-column-gap, 70, 30, 992, 576);
		}
		@media (max-width: 576px) {
			grid-column-gap: 30;
		}
		@media (max-width: 460px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .info__column
	&__column {
		padding-left: 45px;
		position: relative;
		@media (max-width: 992px) {
			padding-left: 30px;
			@include adaptiv(padding-left, 30, 20, 992, 576);
		}
		@media (max-width: 576px) {
			padding-left: 15px;
		}
	}
	// .info__item
	&__item {
		padding: 171px 20px 30px 79px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		height: 100%;
		@media (max-width: 992px) {
			padding: 160px 20px 30px 60px;
		}
		@media (max-width: 576px) {
			padding: 114px 20px 30px 35px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}
	}
	// .info__title
	&__title {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.38;
		text-transform: uppercase;
		color: #ffffff;
		position: relative;
		@media (max-width: 992px) {
			@include adaptiv(font-size, 26, 17, 992, 460);
		}
		@media (max-width: 460px) {
			font-size: 19px;
		}
	}
	// .info__subtitle
	&__subtitle {
		font-size: 20px;
		line-height: 1.33;
		color: #ffffff;
		position: relative;
		@media (max-width: 992px) {
			@include adaptiv(font-size, 20, 14, 992, 460);
		}
		@media (max-width: 460px) {
			font-size: 16px;
		}
	}
	// .info__image
	&__image {
		position: absolute;
		top: 36px;
		left: 0;
		width: 125px;
		height: 125px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fcb813;
		@media (max-width: 992px) {
			width: 87px;
			height: 87px;
		}
		@media (max-width: 576px) {
			top: 10px;
			width: 70px;
			height: 70px;
		}
		img {
			max-width: 64px;
			max-height: 64px;
			@media (max-width: 992px) {
				max-width: 44px;
				max-height: 44px;
			}
			@media (max-width: 576px) {
				max-width: 34px;
				max-height: 34px;
			}
		}
	}
}
