.modal-project {
	display: none;
	max-width: 1100px;
	width: 100%;
	padding: 0;
	// padding: 0px 66px 38px 34px;
	background: #fff;
	// .modal-project__close
	&__close {
	}
	// .modal-project__container
	&__container {
		max-width: 1044px;
		margin-left: 30px;
		padding: 0px 20px 38px 20px;
	}
	// .modal-project__top
	&__top {
		margin-bottom: 26px;
	}
	// .modal-project__bottom
	&__bottom {
	}
}

.top-modal {
	display: flex;
	justify-content: space-between;
	// .top-modal__left
	&__left {
		margin-left: -30px;
		margin-right: 40px;
		flex: 0 0 643px;
		max-width: 643px;
	}
	// .top-modal__slider
	&__slider {
		overflow: hidden;
		min-width: 0;
		position: relative;

		.swiper-slide {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		.swiper-pagination-bullet {
			width: 30px;
			height: 4px;
			margin-bottom: 5px;
			background: #ffffff;
			opacity: 1;
			border-radius: 0;
			transition: 0.3s;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		.swiper-pagination-bullet-active {
			width: 70px;
			background: #fcb813;
		}
	}
	// .top-modal__slider
	&__slider-bot {
		position: absolute;
		bottom: 15px;
		left: 0;
		width: 100%;
		padding-left: 30px;
		z-index: 1;
	}
	&__slider-bot-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-width: 357px;
		margin-left: auto;
	}
	// .top-modal__control
	&__control {
		margin-right: 30px;
		margin-left: 85px;
		margin-bottom: 10px;
		justify-content: center;
	}
	// .top-modal__prev
	&__prev {
		svg path {
			fill: #fff;
		}
	}
	// .top-modal__next
	&__next {
		path {
			fill: #fcb813;
		}
	}
	&__pagination {
		min-width: 205px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	// .top-modal__right
	&__right {
		flex: 0 0 322px;
		padding-top: 39px;
	}
	// .top-modal__title
	&__title {
		margin-bottom: 25px;
		font-weight: 700;
		font-size: 30px;
		line-height: 1.33;
		color: #000000;
	}
	// .top-modal__table
	&__table {
		border-top: 1px solid #e5e5e5;
	}
	// .top-modal__row
	&__row {
		display: flex;
		border-bottom: 1px solid #e5e5e5;
		padding: 8px 0;
	}
	// .top-modal__key
	&__key {
		flex-grow: 1;
		padding-right: 40px;
		font-size: 14px;
		line-height: 1.57;
		color: #000000;
	}
	// .top-modal__value
	&__value {
		min-width: 120px;
		font-size: 14px;
		line-height: 1.57;
		color: #000000;
		font-weight: 700;
	}
}

.bot-modal {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	// .bot-modal__nav
	&__nav {
		flex: 0 0 146px;
		margin-right: 35px;
	}
	// .bot-modal__slider-wrapper
	&__slider-wrapper {
		flex: 0 0 434px;

		margin-right: 40px;
	}
	// .bot-modal__slider
	&__slider {
		height: 237px;
		overflow: hidden;
		.swiper-slide {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	// .bot-modal__form
	&__form {
		flex: 0 0 318px;
		margin-left: 40px;
	}
}
.nav-modal {
	// .nav-modal__item
	&__item {
		min-height: 21px;
		font-size: 14px;
		line-height: 1.43;
		color: #000000;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 10px;
			height: 100%;
			width: 1px;
			background-color: #000000;
		}
		&:not(:last-child) {
			padding-bottom: 40px;
		}
		&:last-child {
			&::before {
				display: none;
			}
		}
	}
	&__top {
		position: relative;
		padding-left: 31px;
		cursor: pointer;
		user-select: none;
		&--active {
			.nav-modal__dot {
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-53%, -53%);
					background: #fcb813;
					width: 13px;
					height: 13px;
					border-radius: 100%;
				}
			}
		}
	}
	&__dot {
		position: absolute;
		top: 0;
		left: 0;
		width: 21px;
		height: 21px;
		border-radius: 100%;
		border: 1px solid #000000;
		background: #fff;
	}
}
.form-modal {
	// .form-modal__title
	&__title {
		margin-bottom: 25px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #000000;
	}
	.wpcf7-form-control-wrap {
		margin-bottom: 15px;
		height: 50px;
		input {
			display: flex;
			align-items: center;
			padding: 5px 15px 5px 17px;
			width: 100%;
			height: 100%;
			border: 1px solid #a4a4a4;
			font-size: 16px;
			color: #a4a4a4;
			background-color: #fff;
			&:focus {
				color: #000;
				border: 1px solid #000;
				&::placeholder {
					color: #000;
				}
			}
		}
	}
	// .form-modal__form
	&__form {
		display: flex;
		flex-direction: column;
	}
	// .form-modal__btn
	&__btn {
		margin-bottom: 18px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		color: #000000;
		background: #fcb813;
		text-transform: uppercase;
	}
	// .form-modal__privacy
	&__privacy {
		font-size: 12px;
		line-height: 1.33;
		color: #222226;
		.to-privacy {
			text-decoration: underline;
		}
	}
}
