.price {
	// .price__container
	&__container {
		padding-top: 100px;
		padding-bottom: 131px;
	}
	// .price__title
	&__title {
		margin-bottom: 78px;
		color: #000;
	}
	// .price__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 164px;
		grid-row-gap: 40px;
		max-width: 1334px;
		margin: 0 auto;
		@media (max-width: 1440px) {
			grid-column-gap: 60px;
		}
		@media (max-width: 992px) and (min-width: 721px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 720px) {
			grid-template-columns: repeat(1, 1fr);
		}
		@media (max-width: 576px) {
		}
		@media (max-width: 375px) {
			margin: 0 -20px;
		}
	}
	// .price__column
	&__column {
	}
	// .price__card
	&__card {
	}
}

.card-price {
	min-height: 783px;
	display: flex;
	flex-direction: column;
	@media (max-width: 992px) {
		min-height: 650px;
	}
	// .card-price__top
	&__top {
		padding: 33px 33px 42px 49px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		@media (max-width: 992px) and (min-width: 721px) {
			@include adaptiv(padding-right, 33, 15, 992, 720);
			@include adaptiv(padding-left, 33, 15, 992, 720);
		}
		@media (max-width: 576px) {
			@include adaptiv(padding-right, 33, 15, 576, 320);
			@include adaptiv(padding-left, 33, 15, 576, 320);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}
	}
	// .card-price__icon
	&__icon {
		margin-bottom: 62px;
		position: relative;
		img {
			max-width: 42px;
			max-height: 42px;
		}
	}
	// .card-price__title
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		text-transform: uppercase;
		color: #ffffff;
		position: relative;
		@media (max-width: 992px) and (min-width: 721px) {
			@include adaptiv(font-size, 36, 21, 992, 720);
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 36, 21, 576, 320);
		}
	}
	// .card-price__main
	&__main {
		padding: 38px 27px 10px 44px;
		display: flex;
		justify-content: space-between;
		flex: 1 1 auto;
		@media (max-width: 992px) and (min-width: 721px) {
			@include adaptiv(padding-right, 27, 15, 992, 721);
			@include adaptiv(padding-left, 44, 15, 992, 721);
		}
		@media (max-width: 576px) {
			@include adaptiv(padding-right, 27, 15, 576, 320);
			@include adaptiv(padding-left, 44, 15, 576, 320);
		}
	}
	// .card-price__left
	&__left {
		flex: 0 0 310px;
		margin-right: 25px;
		@media (max-width: 1440px) {
			flex: 0 0 60%;
		}
		@media (max-width: 992px) and (min-width: 721px) {
			flex: 0 0 50%;
			margin-right: 20px;
		}
		@media (max-width: 420px) {
			flex: 0 0 50%;
			margin-right: 20px;
		}
	}
	// .card-price__list
	&__list {
	}
	// .card-price__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	// .card-price__right
	&__right {
	}
	// .card-price__bot
	&__bot {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 52px;
		@media (max-width: 992px) {
			padding-left: 0;
		}
		@media (max-width: 850px) and (min-width: 577px) {
			flex-direction: column;
		}
	}
	// .card-price__price
	&__price {
		margin-right: 20px;
		font-weight: 700;
		font-size: 24px;
		line-height: lh(28, 24);
		color: #000000;
		@media (max-width: 1200px) and (min-width: 850px) {
			@include adaptiv(font-size, 24, 18, 1200, 850);
		}
		@media (max-width: 850px) and (min-width: 577px) {
			margin-bottom: 20px;
			margin-right: 0;
		}
	}
	// .card-price__btn
	&__btn {
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		background: #fcb813;
		flex: 0 0 210px;
		@media (max-width: 1200px) {
			flex: 0 0 45%;
			font-size: 18px;
		}
		@media (max-width: 992px) {
			min-height: 45px;
			font-size: 16px;
		}
		@media (max-width: 850px) and (min-width: 577px) {
			width: 100%;
		}
	}
}
.price-item {
	// .price-item__top
	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 7px;
		cursor: pointer;
		&:hover {
			.price-item__btn {
				filter: none;
			}
		}
		&--active {
			.price-item__btn {
				background-image: url("../img/card-arrow.svg");
			}
		}
	}
	// .price-item__title
	&__title {
		margin-right: 8px;
		font-size: 20px;
		line-height: 1.2;
		color: #000000;
		padding-left: 14px;
		position: relative;

		@media (max-width: 992px) and (min-width: 721px) {
			@include adaptiv(font-size, 20, 14, 992, 721);
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 20, 14, 576, 320);
		}
		@media (max-width: 420px) {
			margin-right: 5px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0.5em;
			left: 0;
			width: 3px;
			height: 3px;
			background: #000;
			border-radius: 100%;
			overflow: hidden;
		}
	}
	// .price-item__btn
	&__btn {
		width: 11px;
		height: 11px;
		flex: 0 0 11px;
		background-image: url("../img/card-question.svg");
		background-color: transparent;
		filter: grayscale(1);
	}
	// .price-item__bot
	&__bot {
		display: none;
		padding-top: 7px;
	}
	// .price-item__text
	&__text {
		font-size: 14px;
		line-height: 1.43;
	}
}
.right-price {
	// .right-price__list
	&__list {
	}
	// .right-price__item
	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 23px;
		}
	}
	// .right-price__image
	&__image {
		margin-right: 12px;
		flex: 0 0 39px;
		@media (max-width: 992px) and (min-width: 721px) {
			@include adaptiv(flex-basis, 39, 25, 992, 721);
		}

		@media (max-width: 576px) {
			@include adaptiv(flex-basis, 39, 25, 576, 320);
		}
		img {
			max-width: 39px;
			max-height: 39px;
			@media (max-width: 992px) and (min-width: 721px) {
				@include adaptiv(max-width, 39, 25, 992, 721);
				@include adaptiv(max-height, 39, 25, 992, 721);
			}

			@media (max-width: 576px) {
				@include adaptiv(max-width, 39, 25, 576, 320);
				@include adaptiv(max-height, 39, 25, 576, 320);
			}
		}
	}
	// .right-price__text
	&__text {
		font-weight: 700;
		font-size: 12px;
		line-height: 1.17;
		text-transform: uppercase;
		color: #222226;
	}
}
